.card{
    color: white;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
width: 90%;
max-width: 470px;
margin: 100px auto 0;
border-radius: 20px;
padding: 40px 35px;
text-align: center;
}
.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box input{
    border: 0;
    outline: 0;
    flex: 1;
    color: #555;
    padding: 10px 15px;
    height: 60px;
    border-radius: 30px;
    margin-right: 17px;
    font-size: 18px;
    background: #ebfffc;
}
.search-box button{
    border: 0;
    width: 60px;
    height: 60px;
    outline: 0;
    background: white;
    cursor: pointer;
    border-radius: 50%;

}
.search-box button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h1{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;

}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}
.col img{
    width: 40px;
    margin-right: 10px;

}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}